.btn:hover {
    background-color: darkgoldenrod;
    border-color: darkgoldenrod;
}

.btn:active {
    background-color: darkgoldenrod;
}

.iframe {
    margin-top: 10vh;
}

.video {
    width: 940px;
    height: 630px;
}

@media (max-width: 700px) {
    .site-block-half {
        display: flex;
        flex-direction: column-reverse;
    }
    .image {
        display: flex;
        align-self: flex-start;
    }
    .video {
        width: 350px;
        height: 257px;
    }

    .slider-img-fluid {
        height: 40vh;
    }

    .home-slider {
        height: 40vh;
    }
}

.main-image-fluid {
    height: auto;
    max-width: 100%;
}

.gallery-navbar {
    background-color: goldenrod;
}