html, body {
  overflow-x: hidden;
  box-sizing: border-box;
}

.event-form {
  display: flex;
  justify-content: center;
  align-content: space-between;
  flex-wrap: nowrap;
  padding: 20px;
  max-width: 500px;
  max-height: 360px;
  /* top: 50px !important; */
  margin: auto;
  background-color: white;
  border-radius: 10%;
  box-shadow: 5px 5px 5px rgb(190, 190, 190);
  border: rgb(190, 190, 190);
}

.btn {
  color: white;
}
.btn-primary {
  background-color: #e8b22c !important;
  border-color: #e8b22c !important;
}
.btn-danger {
  color: red;
}
.btn-danger:hover {
  color: rgb(145, 3, 3) !important;
  background-color: transparent !important;
  border-color: transparent !important;
}
.dlt-btn,
.card-buttons {
  float: right !important;
  margin: 10px !important;
  padding: 0;
}

.btn-edit {
  color: rgb(155, 155, 155);
  background-color: transparent;
}

.btn-edit:hover {
  color: gray;
  background-color: transparent !important;
  border-color: transparent !important;
}
.event-card {
  position: relative;
  display: block;
  height: 100% !important;
}

.event-card-body {
  position: relative;
  display: block;
}

.card-img-top {
  max-width: 100% !important;
}

.event-card-img {
  width: 100%;
}

.event-card-img,
.card-img-top {
  position: relative;
  border-top-left-radius: 2% !important;
  border-top-right-radius: 2% !important;
  /* object-fit: cover !important; */
}

.event-card-body{
  position: relative;
  display: flex;
  flex-wrap: wrap !important;
  align-content: space-between;
  justify-content: space-between;
  min-height: auto;
  padding: 20px;
  margin: auto;
  background-color: rgb(242, 242, 242);
  border-bottom-left-radius: 2% !important;
  border-bottom-right-radius: 2% !important;
  box-shadow: 5px 5px 5px rgb(190, 190, 190);
  word-wrap: break-word !important;
}



/* .card-img-top {
  max-width: 506px;
  height: auto;
  border-top-left-radius: 2%;
  border-top-right-radius: 2%;
} */

/* .event-card-body {
  padding: 10px !important;
  height: auto;
} */

.site-hero-index {
  background-color: white !important;
}

#myVideo {
  position: fixed;
  display: flex;
  flex-basis: auto;
  left: 0;
  top: 0;
  min-width: 100% !important;
  min-height: 20% !important;
  z-index: -100 !important;
}

.video-section {
  display: flex;
  align-items: stretch !important;
  flex-wrap: wrap !important;
  justify-content: center;
}

#about-text {
  margin: 30px;
}

header.active {
  color: black !important;
  background-color: white !important;
  transition: .5s;
}

header nav li a.active {
  color: black !important;
  transition: .5s;
}

header nav li a.active:hover {
  color: goldenrod !important;
}

header em.active {
  color: black !important;
}

.site-menu-toggle span.active {
  background-color: #000;
}
 
.site-header {
  display: flex;
  justify-content: space-between !important;
  position: fixed !important;
  background-color: #700138;
} 

.header-row {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap !important;
  margin-right: 5px;
  margin-left: 5px;
  padding: 0;
}

hr {
  border: solid 1px rgb(190, 190, 190);
  margin: 250px 30px 15px;
  border-radius: 100%;
}

.btn:hover {
    background-color: darkgoldenrod;
    border-color: darkgoldenrod;
}

.btn:active {
    background-color: darkgoldenrod;
}

.iframe {
    margin-top: 10vh;
}

.video {
    width: 940px;
    height: 630px;
}

.frontpage-video {
    width: 640px;
    height: 360px;
}


#menu_btn {
  display: flex;
  justify-content: center;
}

.navigation-bar,
.navbar,
.navbar-nav {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.room-card-img-top {
  max-width: 100%;
  height: 100%;
  border-top-left-radius: 2%;
  border-top-right-radius: 2%;
  overflow: hidden !important;
  overflow-x: hidden !important;
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
  position: absolute;
  width: 20px !important;
  height: 20px !important;
  background: transparent no-repeat center center !important;
  background-size: 100% 100% !important;
  z-index: 100000 !important;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.room-carousel-controls {
  /* width: inherit;
  height: inherit; */
   display: flex !important;
   position: absolute !important;
   height: inherit !important;
   width: inherit;
   align-items: center;
   justify-content: space-between;
  /*
  padding: inherit;
  margin: inherit;
  justify-content: space-between !important;
  align-content: center !important;
  background-color: transparent  !important;*/
  z-index: 11111111 !important; 
}

.menu-li {
  display: flex;
  padding-right: 5px;
  padding-left: 5px;
}


.room-card,
.card {
  min-width: 506px;
  height: 382px;
  margin: 10px;
  margin-top: 50px;
  margin-bottom: 700px;
  background-color: rgb(241, 241, 239) !important;
  border-radius: 2%;
  box-shadow: 5px 5px 5px rgb(190, 190, 190);
}

.room-card-body {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  min-height: 700px;
  padding: 20px;
  margin: auto;
  background-color: rgb(242, 242, 242);
  border-bottom-left-radius: 2%;
  border-bottom-right-radius: 2%;
  box-shadow: 5px 5px 5px rgb(190, 190, 190);
}

.out_pwd {
  display: flex !important;
  justify-content: space-between !important;
}

.grandes-ofertas {
  /* background-color: rgb(241, 241, 241) !important; */
  background-color: rgb(235, 216, 166) !important;
}

.list-group {
  list-style: none;
}

.room-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between !important;
  
}

.event-card-container {
  position: relative; 
}

/* .room-container {
  background-color: rgb(200, 200, 200) !important;
} */

  .site-menu-toggle {
    display: flex;
    align-self: center;
    justify-self: flex-end;
    margin-top: 1.5772870662460567vh;
    flex-wrap: wrap;
    float: right;
    width: 30px;
    height: 30px;
    position: relative;
    z-index: 200;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
  }

  .room-link {
    color: black;
    margin: 10px !important;
  }

  .room-link:hover {
    color: #e8b22c;
  }

  .room-link:active,
  .room-link:focus,
  :target {
    color: #e8b22c !important;
  }

  .room-link-text {
    font-weight: bolder !important;
  }

  .map-section {
    padding: 0 !important;
  }

@media (max-width: 1049px) {
  .room-carousel-controls {
    width: 93.5% !important;
  }
  .add-event-container {
    margin-top: 300px !important;
  }
  .event-card-margin {
    margin-top: 80%  !important;
  }
  .event-card-margin-1 {
    margin-top: 50px !important;
  }
  .event-card-container {
    display: flex;
    align-content: space-between;
  }
}
  @media (min-width: 1050px) {
    .carousel,
    .slide,
    .room-carousel-controls {
      width: 590px !important;
      padding: 0;
    }
    .rsrv-btn {
      margin-left: 15px !important;
    }
    .site-menu-toggle {
      display: none !important;
      margin: 0;
      padding: 0;
      width: 0;
      height: 0;
    }
    /* .event-card-body {
      box-shadow: none !important;
      display: block;
      padding: 10px !important;
      height: auto;
    }
    .card-img-top {
      max-width: 506px;
      height: auto;
      border-top-left-radius: 2%;
      border-top-right-radius: 2%;
    } */
    .col-8 {
      display: flex;
      justify-content: flex-end;
    }
    .site-header {
      display: flex;
      align-items: center;
      justify-content: space-between !important;
      padding: 40px 5px !important;
      height: 0px !important;
      position: fixed !important;
      background-color: #700138 !important;
    } 
    .site-logo a {
      font-size: 45px !important;
    }
    .room-card-container {
      display: flex;
      align-items: flex-start !important;
    }
  }

@media (max-width: 500px) {
  .email {
    font-size: 18px !important;
  }
  .event-card-img {
    position: relative;
    max-height: 300px !important;
    min-height: 150px !important;
    width: 101.5%; 
    /* object-fit: cover !important; */
    /* margin: 5px !important; */
  }
  .event-card-body {
    position: relative; 
  }
  #myVideo {
   left: -35% !important;
  }
  .frontpage-video,
  .video {
    width: 280px !important;
    height: 205px !important;
  }
  a {
    font-size: 100% !important;
  }

  .site-navbar {
    display: flex;
    align-items: center !important;
  }
  .room-link-container p,
  .room-link-container,
  .room-link, .room-link-text {
    display: flex;
    justify-content: center;
    text-justify: justify !important;
    width: 100%;
    margin: 2px auto !important;
  }
}

.site-logo {
  display: flex;
  flex-wrap: nowrap !important;
  flex-direction: row;
  align-self: center;
  font-size: 21px !important;

}

.header-col-8 {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

#login_body {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: rgb(207, 206, 206);
}

.login-form {
  margin: 10vh 0;
  max-height: 100px;
  height: 65px;
  padding: 10px;
  background-color: #fff;
  border-radius: 3%;
  box-shadow: 5px 5px 5px rgb(175, 174, 174);
}

.room-link-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.room-btn {
  position: relative;
  float: right !important;
}


@media (min-width: 1120px) {
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .index-room-btn {
    display: flex;
    width: 100% !important;
    justify-items: center;
  }
  .room-card-container {
      width: 100% !important;
      padding: 0 auto !important;
      margin: 0 !important
    }
    .room-card {
      display: flex;
      margin-bottom: 50px !important;
      width: 100% !important;
      height: 600px !important;
      border-radius: 0;
      background-color: rgb(241, 241, 239) !important;
    }
    .room-card-body {
      align-items: flex-start;
      float: left;
      padding-top: 50px !important;
      min-height: 0;
      max-height: 300px !important;
      width: 50% !important;
      border-radius: 0;
      background-color: none !important;
      box-shadow: none;
      margin: 2px !important;
    }

    .room-card-title {
      font-size: 30px !important;
    }
    .room-card-body .d-block {
      font-size: 20px !important;
    }
    .room-card-body .list-group {
      font-size: 15px !important;
    }
    .room-card-body .btn .btn-primary {
      right: 0px !important;
    }
    .room-card-img-top {
      border-radius: 0 !important;
      box-shadow: none;
      width: 700px !important;
      max-height: 400% !important;
      overflow: hidden !important
      /* float: right; */
      /* max-width: 20% !important; */

    }
}

@media (max-width: 1100px) {
  .room-card,
  .event-room-card,
  .event-card,
  .card {
    align-self: center;
    min-width: 500px !important;
    height: 371px !important;
    margin-bottom: 800px;
  }
  .doblezonab,
  .sencillaconbalcon {
    min-width: 500px;
  }
  .room-card-container {
    justify-content: center;
    align-items: center;
    /* margin-bottom: 800px !important; */
  }
  .room-card-container {
    justify-content: center;
    align-items: center;
    /* margin-bottom: 800px !important; */
  }
  .site-header {
    display: flex;
    align-items: center !important;
    justify-content: space-between !important;
    padding: 30px 5px !important;
    height: 0px !important;
    position: fixed !important;
    background-color: #700138 !important;
  } 
  .card {
    margin-bottom: 300px !important;
  }

    .navigation-bar,
    .navbar,
    .navbar-nav {
        margin-top: 50%;
        flex-direction: column;
        -webkit-box-align: center !important;
        -ms-flex-align: center !important;
        align-items: center !important;
        justify-content: center;
      }
    .full-height {
        height: 100%;
        min-height: 700px;
    }
    .site-navbar {
        position: fixed;
        display: none;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #fff;
        min-height: 300px;
        overflow-y: scroll;
      }
      .site-navbar nav {
        text-align: left;
      }
      .site-navbar nav .menu {
        font-family: "Playfair+Display", times, serif;
      }
      .site-navbar nav .menu li a {
        color: #000;
        font-size: 40px;
        padding: 5px 10px;
        position: relative;
      }
      .site-navbar nav .menu li a:before {
        content: "";
        position: absolute;
        bottom: 0;
        height: 50%;
        width: 0%;
        z-index: -1;
        background: #e8b22c;
        -webkit-transition: 0.3s all ease-in-out;
        -o-transition: 0.3s all ease-in-out;
        transition: 0.3s all ease-in-out;
      }
      .site-navbar nav .menu li a:hover:before {
        width: 100%;
      }
      .site-navbar nav .menu li.active a:before {
        width: 100%;
      }
      .menu-open .site-menu-toggle span {
        background: #000;
      }
      /* .site-menu-toggle {
        display: flex;
        align-self: center;
        float: right;
        width: 40px;
        height: 30px;
        position: relative;
        z-index: 200;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: 0.5s ease-in-out;
        -moz-transition: 0.5s ease-in-out;
        -o-transition: 0.5s ease-in-out;
        transition: 0.5s ease-in-out;
        cursor: pointer;
      } */

      .site-menu-toggle span {
        display: block;
        position: absolute;
        height: 2px;
        width: 100%;
        background: #fff;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: 0.25s ease-in-out;
        -moz-transition: 0.25s ease-in-out;
        -o-transition: 0.25s ease-in-out;
        transition: 0.25s ease-in-out;
      }
      .site-menu-toggle span:nth-child(1) {
        top: 0;
      }
      .site-menu-toggle span:nth-child(2) {
        top: 10px;
      }
      .site-menu-toggle span:nth-child(3) {
        top: 20px;
      }
      .site-menu-toggle.open span:nth-child(1) {
        top: 13px;
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
        transform: rotate(135deg);
      }
      .site-menu-toggle.open span:nth-child(2) {
        opacity: 0;
        left: -60px;
      }
      .site-menu-toggle.open span:nth-child(3) {
        top: 13px;
        -webkit-transform: rotate(-135deg);
        -moz-transform: rotate(-135deg);
        -o-transform: rotate(-135deg);
        -ms-transform: rotate(-135deg);
        transform: rotate(-135deg);
      }
    .site-block-half {
        display: flex;
        flex-direction: column-reverse;
    }
    .site-header {
        padding: 30px 0;
    }
    .heading {
        top: 0;
    }
    .site-hero,
    .site-hero-inner,
    .site-hero.overlay:before,
    .site-hero.inner-page,
    .site-hero.inner-page.overlay:before {
        height: 325px !important;
        min-height: 325px !important;
        /* z-index: 1000; */
    }
    .mouse-icon {
        display: none;
    }
    .image {
        display: flex;
        align-self: flex-start;
    }
    .video,
    .frontpage-video {
        display: block ;       
        width: 350px;
        height: 271px;
    }

    .slider-img-fluid {
        height: 40vh;
    }

    .home-slider {
        height: 40vh;
    }
    .list-unstyled {
        display: block;
        padding-left: 0;
        list-style: none;
      }

  
}

@media (max-width: 600px) {
  .card-img-top {
    max-width: 100% !important;
  }

  /* .event-card {
    position: relative !important;
    max-height: 500px !important;
    margin-top: 200px !important;
  } */

  /* .card-buttons {
    display: none;
  } */

  .card-buttons {
    display: flex;
    justify-self: end;
  }

  .room-card,
  .event-room-card,
  .event-card,
  .card {
    align-self: center;
    min-width: 300px !important;
    height: 271px !important;
    margin-bottom: 800px;
  }    
  .doblezonab,
  .sencillaconbalcon {
    min-width: 250px !important;
  }
  /* .site-logo {

  } */
}

.main-image-fluid {
    height: auto;
    max-width: 100%;
}

.gallery-navbar {
    background-color: goldenrod;
}

@media (min-width: 750px) {
  .mobile-break {
    display: none !important;
  }
  .event-card-body {
    box-shadow: none !important;
    display: block;
    padding: 10px !important;
    height: 100%;
  }
  .card-img-top {
    max-width: 506px;
    width: 506px;
    height: auto;
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
  }
  .event-card {
    max-height: auto !important;
    max-width: 502px !important;
    margin: 20px;
  }
}