html, body {
  overflow-x: hidden;
}

.btn {
  color: white;
}
.btn-primary {
  background-color: #e8b22c !important;
  border-color: #e8b22c !important;
}
.btn-danger {
  background-color: red !important;
  border-color: red !important;
}
.btn-danger:hover {
  background-color: rgb(196, 4, 4) !important;
  border-color: rgb(192, 4, 4) !important;
}
.dlt-btn {
  float: right !important;
  margin: 10px !important;
}

.event-card-body {
  padding: 20px !important;
}

.site-hero-index {
  background-color: white !important;
}

#myVideo {
  position: fixed;
  display: flex;
  flex-basis: auto;
  left: 0;
  top: 0;
  min-width: 100% !important;
  min-height: 20% !important;
  z-index: -100 !important;
}

.video-section {
  display: flex;
  align-items: stretch !important;
  flex-wrap: wrap !important;
  justify-content: center;
}

#about-text {
  margin: 30px;
}

/* .menu-li {
  padding: 0;
  margin: 0;
  height: 10px !important;
  display: flex;
  align-self: center;
} */

/* .site-header{

} */
header.active {
  color: black !important;
  background-color: white !important;
  transition: .5s;
}

header nav li a.active {
  color: black !important;
  transition: .5s;
}

header nav li a.active:hover {
  color: goldenrod !important;
}

header em.active {
  color: black !important;
}

.site-menu-toggle span.active {
  background-color: #000;
}
 
.site-header {
  position: fixed !important;
  background-color: #700138;
} 


hr {
  border: solid 1px rgb(190, 190, 190);
  margin: 250px 30px 15px;
  border-radius: 100%;
}

.btn:hover {
    background-color: darkgoldenrod;
    border-color: darkgoldenrod;
}

.btn:active {
    background-color: darkgoldenrod;
}

.iframe {
    margin-top: 10vh;
}

.video {
    width: 940px;
    height: 630px;
}

.frontpage-video {
    width: 640px;
    height: 360px;
}


#menu_btn {
  display: flex;
  justify-content: center;
}

.navigation-bar,
.navbar,
.navbar-nav {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.room-card-img-top {
  max-width: 100%;
  height: 100%;
  border-top-left-radius: 2%;
  border-top-right-radius: 2%;

}




.room-card,
.card {
  min-width: 506px;
  height: 382px;
  margin: 10px;
  margin-top: 50px;
  margin-bottom: 700px;
  background-color: rgb(241, 241, 239) !important;
  border-radius: 2%;
  box-shadow: 5px 5px 5px rgb(190, 190, 190);
}

.room-card-body {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  min-height: 700px;
  padding: 20px;
  margin: auto;
  background-color: rgb(242, 242, 242);
  border-bottom-left-radius: 2%;
  border-bottom-right-radius: 2%;
  box-shadow: 5px 5px 5px rgb(190, 190, 190);
}

.grandes-ofertas {
  background-color: rgb(200, 200, 200) !important;
}

.list-group {
  list-style: none;
}

.room-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  /* margin-bottom: 500px !important; */
}

.room-container {
  background-color: rgb(200, 200, 200) !important;
}

  .site-menu-toggle {
    display: flex;
    align-self: center;
    justify-self: flex-end;
    margin-top: 1.5772870662460567vh;
      /* margin-top: 3.1545741324921135vh !important; */
    flex-wrap: wrap;
    float: right;
    width: 30px;
    height: 30px;
    position: relative;
    z-index: 200;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
  }


  @media (min-width: 1050px) {
    .col-8 {
      display: flex;
      justify-content: flex-end;
    }
    .site-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 40px 5px !important;
      height: 0px !important;
      position: fixed !important;
      background-color: #700138 !important;
    } 
    .site-logo a {
      font-size: 40px !important;
    }
    /* .sencillaconbalcon {
      max-width: 20% !important;
    } */
  }

@media (max-width: 500px) {
  #myVideo {
    left: -120% !important;
    top: -10% !important;
    /* width: 150% !important; */
  }
  .frontpage-video,
  .video {
    width: 280px !important;
    height: 205px !important;
  }
  a {
    font-size: 100% !important;
  }

  .site-navbar {
    display: flex;
    align-items: center !important;
  }
  /* .navigation-bar,
  .navbar,
  .navbar-nav {
    margin-top: 50%;
  } */
}

.site-logo {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
}

#login_body {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: rgb(207, 206, 206);
}

.login-form {
  margin: 10vh 0;
  max-height: 100px;
  height: 65px;
  padding: 10px;
  background-color: #fff;
  border-radius: 3%;
  box-shadow: 5px 5px 5px rgb(175, 174, 174);
}

@media (min-width: 1120px) {
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .index-room-btn {
    display: flex;
    width: 100% !important;
    justify-items: center;
  }
  .room-card-container,
    .room-container {
      width: 100% !important;
      padding: 0 !important;
      margin: 0 !important
    }
    .room-card {
      display: flex;
      margin-bottom: 50px !important;
      width: 100% !important;
      height: 550px !important;
      border-radius: 0;
      background-color: rgb(241, 241, 239) !important;
    }
    .room-card-body {
      align-items: flex-start;
      float: left;
      min-height: 0;
      max-height: 300px !important;
      width: 50% !important;
      border-radius: 0;
      background-color: none !important;
      box-shadow: none;
      margin: 2px !important;
    }ç
    .room-card-title {
      font-size: 30px !important;
    }
    .room-card-body .d-block {
      font-size: 20px !important;
    }
    .room-card-body .list-group {
      font-size: 15px !important;
    }
    .room-card-body .btn .btn-primary {
      right: 0px !important;
    }
    .room-card-img-top {
      border-radius: 0 !important;
      box-shadow: none;
      width: 665px !important;
      max-height: 400% !important;
      /* float: right; */
      /* max-width: 20% !important; */

    }
}

@media (max-width: 1100px) {
  .room-card,
  .event-room-card,
  .card {
    align-self: center;
    min-width: 500px !important;
    height: 371px !important;
    margin-bottom: 800px;
  }
  .doblezonab,
  .sencillaconbalcon {
    min-width: 500px;
  }
  .room-card-container {
    justify-content: center;
    align-items: center;
    /* margin-bottom: 800px !important; */
  }
  .room-card-container {
    justify-content: center;
    align-items: center;
    /* margin-bottom: 800px !important; */
  }
  .site-header {
    display: flex;
    align-items: center !important;
    justify-content: space-between !important;
    padding: 30px 5px !important;
    height: 0px !important;
    position: fixed !important;
    background-color: #700138 !important;
  } 
  .card {
    margin-bottom: 300px !important;
  }

    .navigation-bar,
    .navbar,
    .navbar-nav {
        margin-top: 50%;
        flex-direction: column;
        -webkit-box-align: center !important;
        -ms-flex-align: center !important;
        align-items: center !important;
        justify-content: center;
      }
    .full-height {
        height: 100%;
        min-height: 700px;
    }
    .site-navbar {
        position: fixed;
        display: none;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #fff;
        min-height: 300px;
        overflow-y: scroll;
      }
      .site-navbar nav {
        text-align: left;
      }
      .site-navbar nav .menu {
        font-family: "Playfair+Display", times, serif;
      }
      .site-navbar nav .menu li a {
        color: #000;
        font-size: 40px;
        padding: 5px 10px;
        position: relative;
      }
      .site-navbar nav .menu li a:before {
        content: "";
        position: absolute;
        bottom: 0;
        height: 50%;
        width: 0%;
        z-index: -1;
        background: #e8b22c;
        -webkit-transition: 0.3s all ease-in-out;
        -o-transition: 0.3s all ease-in-out;
        transition: 0.3s all ease-in-out;
      }
      .site-navbar nav .menu li a:hover:before {
        width: 100%;
      }
      .site-navbar nav .menu li.active a:before {
        width: 100%;
      }
      .menu-open .site-menu-toggle span {
        background: #000;
      }
      /* .site-menu-toggle {
        display: flex;
        align-self: center;
        float: right;
        width: 40px;
        height: 30px;
        position: relative;
        z-index: 200;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: 0.5s ease-in-out;
        -moz-transition: 0.5s ease-in-out;
        -o-transition: 0.5s ease-in-out;
        transition: 0.5s ease-in-out;
        cursor: pointer;
      } */
      .site-menu-toggle span {
        display: block;
        position: absolute;
        height: 2px;
        width: 100%;
        background: #fff;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: 0.25s ease-in-out;
        -moz-transition: 0.25s ease-in-out;
        -o-transition: 0.25s ease-in-out;
        transition: 0.25s ease-in-out;
      }
      .site-menu-toggle span:nth-child(1) {
        top: 0;
      }
      .site-menu-toggle span:nth-child(2) {
        top: 10px;
      }
      .site-menu-toggle span:nth-child(3) {
        top: 20px;
      }
      .site-menu-toggle.open span:nth-child(1) {
        top: 13px;
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
        transform: rotate(135deg);
      }
      .site-menu-toggle.open span:nth-child(2) {
        opacity: 0;
        left: -60px;
      }
      .site-menu-toggle.open span:nth-child(3) {
        top: 13px;
        -webkit-transform: rotate(-135deg);
        -moz-transform: rotate(-135deg);
        -o-transform: rotate(-135deg);
        -ms-transform: rotate(-135deg);
        transform: rotate(-135deg);
      }
    .site-block-half {
        display: flex;
        flex-direction: column-reverse;
    }
    .site-header {
        padding: 30px 0;
    }
    .heading {
        top: 0;
    }
    .site-hero,
    .site-hero-inner,
    .site-hero.overlay:before,
    .site-hero.inner-page,
    .site-hero.inner-page.overlay:before {
        height: 325px !important;
        min-height: 325px !important;
        /* z-index: 1000; */
    }
    .mouse-icon {
        display: none;
    }
    .image {
        display: flex;
        align-self: flex-start;
    }
    .video,
    .frontpage-video {
        display: block ;       
        width: 350px;
        height: 271px;
    }

    .slider-img-fluid {
        height: 40vh;
    }

    .home-slider {
        height: 40vh;
    }
    .list-unstyled {
        display: block;
        padding-left: 0;
        list-style: none;
      }

  
}

@media (max-width: 600px) {
  .room-card,
  .event-room-card,
  .card {
    align-self: center;
    min-width: 300px !important;
    height: 271px !important;
    margin-bottom: 800px;
  }    
  .doblezonab,
  .sencillaconbalcon {
    min-width: 250px !important;
  }
}

.main-image-fluid {
    height: auto;
    max-width: 100%;
}

.gallery-navbar {
    background-color: goldenrod;
}

